<table bgcolor="#F5F5F5" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr>
			<td align="left" valign="top">
			<table cellpadding="0" cellspacing="0" width="100%">
				<tbody>
					<tr>
						<td class="width_30" width="60"></td>
						<td align="left" valign="top">
						<table cellpadding="0" cellspacing="0" width="100%">
							<tbody>
								<tr>
									<td class="height_30" height="50" style="line-height:1px;font-size:1px;"></td>
								</tr>
								<tr>
									<td align="left" valign="top">
									<table cellpadding="0" cellspacing="0" width="100%">
										<tbody>
											<tr>
												<td align="left" valign="top">
												<table cellpadding="0" cellspacing="0" width="100%">
													<tbody>
														<tr>
															<td align="left" valign="top"><!-- logo -->
															<table align="left" cellpadding="0" cellspacing="0" class="width_100percent">
																<tbody>
																	<tr>
																		<td align="center" valign="top"><a href="https://www.edx.org/" target="_blank"><img alt="Go to edX home page" border="0" src="https://email-media.s3.amazonaws.com/edX/2021/edX_logo.png" style="display:block;height:auto;" width="112" /></a></td>
																	</tr>
																</tbody>
															</table>
															<!--[if mso]>
                                              </td>
                                              <td align="left" valign="top">
                                            <![endif]--><!-- social -->

															<table align="right" cellpadding="0" cellspacing="0" class="width_100percent">
																<tbody>
																	<tr>
																		<td align="center" class="paddingtop_20 height_0" height="66" valign="middle">
																		<table cellpadding="0" cellspacing="0">
																			<tbody>
																				<tr>
																					<td align="left" valign="top"><a href="https://www.facebook.com/edX" target="_blank"><img alt="edX on Facebook" border="0" height="35" src="https://email-media.s3.amazonaws.com/edX/2021/social_1_fb.png" style="display:block;" width="35" /></a></td>
																					<td width="8"></td>
																					<td align="left" valign="top"><a href="https://twitter.com/edXOnline" target="_blank"><img alt="edX on X" border="0" height="35" src="https://email-media.s3.amazonaws.com/edX/2021/social_2_twitter.png" style="display:block;" width="35" /></a></td>
																					<td width="8"></td>
																					<td align="left" valign="top"><a href="https://www.linkedin.com/company/edx" target="_blank"><img alt="edX on LinkedIn" border="0" height="35" src="https://email-media.s3.amazonaws.com/edX/2021/social_3_linkedin.png" style="display:block;" width="35" /></a></td>
																					<td width="8"></td>
																					<td align="left" valign="top"><a href="https://www.instagram.com/edxonline" target="_blank"><img alt="edX on Instagram" border="0" height="35" src="https://email-media.s3.amazonaws.com/edX/2021/social_4_insta.png" style="display:block;" width="35" /></a></td>
																					<td width="8"></td>
																					<td align="left" valign="top"><a href="https://www.reddit.com/r/edX/" target="_blank"><img alt="edX on Reddit" border="0" height="35" src="https://email-media.s3.amazonaws.com/edX/2021/social_5_reddit.png" style="display:block;" width="35" /></a></td>
																				</tr>
																			</tbody>
																		</table>
																		</td>
																	</tr>
																</tbody>
															</table>
															</td>
														</tr>
													</tbody>
												</table>
												</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
								<tr>
									<td height="30" style="line-height:1px;font-size:1px;"></td>
								</tr>
								<!-- stores -->
								<tr>
									<td align="left" valign="top">
									<table cellpadding="0" cellspacing="0" width="100%">
										<tbody>
											<tr>
												<td align="left" valign="top">
												<table align="left" cellpadding="0" cellspacing="0" class="width_100percent">
													<tbody>
														<tr>
															<td align="center" valign="top">
															<table cellpadding="0" cellspacing="0">
																<tbody>
																	<tr>
																		<td align="left" valign="top"><a href="https://edx.app.link/email-app-install" target="_blank"><img alt="Download the iOS app on the Apple Store" border="0" height="39" src="https://email-media.s3.amazonaws.com/edX/2021/store_apple_229x78.jpg" style="display:block;" width="114" /></a></td>
																		<td width="20"></td>
																		<td align="left" valign="top"><a href="https://edx.app.link/email-app-install" target="_blank"><img alt="Download the Android app on the Google Play Store" border="0" height="39" src="https://email-media.s3.amazonaws.com/edX/2021/store_google_253x78.jpg" style="display:block;" width="126" /></a></td>
																	</tr>
																</tbody>
															</table>
															</td>
														</tr>
													</tbody>
												</table>
												</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
								<tr>
									<td height="30" style="line-height:1px;font-size:1px;"></td>
								</tr>
								<tr>
									<td align="left" class="fallback_font" style="font-family:'Inter',Helvetica,Arial,sans-serif;font-size:14px;line-height:20px;color:#000001;" valign="top"><b>edX.org where learning moments become career milestones.</b><br />
									<br />
									Need enterprise learning solutions? <a href="https://business.edx.org/" style="color:#000001;text-decoration:underline;" target="_blank"><span style="color:#000001;">edX For Business</span></a><br />
									<br />
																	© {{ current_year|default:'' }} edX LLC All rights reserved.<br />
									<br />
									<a href="{{preference_center_url}}" style="color:#000001;text-decoration:underline;" target="_blank"><span style="color:#000001;">Update Your Preferences</span></a> / <a href="{{ unsubscribe_url }}" target="_blank" style="color:#000001;text-decoration:underline;"><span style="color:#000001;">Unsubscribe</span></a>
									<br><br>
									2345 Crystal Drive, Suite 1100, Arlington, VA 22202</td>
								</tr>
								<tr>
									<td class="height_30" height="50" style="line-height:1px;font-size:1px;"></td>
								</tr>
							</tbody>
						</table>
						</td>
						<td class="width_30" width="60"></td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
