<!-- =======  Header  ======= -->
<table width="100%" cellpadding="0" cellspacing="0" bgcolor="#F5F5F5">

  <tr>
    <td height="10" style="line-height:1px;font-size:1px;">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top" style="padding:0 60px;" class="padding_none">
      <table cellpadding="0" cellspacing="0" align="left" class="width_100percent">
        <tr>
          <td align="center" valign="top">
            <table cellpadding="0" cellspacing="0">
              <tr>
                <td align="left" valign="top"><a href="https://www.edx.org/" target="_blank"><img
                      src="{{ logo_url }}" width="112" border="0"
                      style="display:block;height:auto;" alt="edx" /></a></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <!--[if mso]>
                      </td>
                      <td align="left" valign="top">
                    <![endif]-->
      <table height="66" cellpadding="0" cellspacing="0" align="right" class="width_100percent height_0">
        <tr>
          <td align="center" valign="middle" class="paddingtop_10">
            <table cellpadding="0" cellspacing="0">
              <tr>
                <td align="right" valign="middle" style="font-family:'Inter',Helvetica,Arial,sans-serif; font-size:14px; line-height:20px; font-weight:bold; color:#000001;" class="fallback_font">

                  <a href="https://www.edx.org/search/?tab=course" target="_blank"
                    style="text-decoration:none; color:#000001;">
                    Courses
                  </a>

                  &nbsp;/&nbsp;

                  <a href="https://www.edx.org/search/?tab=program" target="_blank"
                    style="text-decoration:none; color:#000001;">
                    Programs
                  </a>

                  &nbsp;/&nbsp;

                  <a href="https://courses.edx.org/login" target="_blank" style="text-decoration:none; color:#000001;">
                    My Account
                  </a>

                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td height="10" style="line-height:1px;font-size:1px;">&nbsp;</td>
  </tr>
</table>